/*Extra Bold for top score, style first child*/

body{
    font-family: Hind;
    font-weight:500;
}
a{
    color:black
}
a:visited{
    color:gray
}
a:hover{
    color: gray;
}

li{
    font-size:x-large;
    margin-bottom: 1em;
    list-style-position: inside;
}
/*poof class to hide/reveal various elements*/
.poof{
    display: none;
}

.heading{
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.quiz{
    text-align: center;
}

.highCenter{
    text-align: center;
}
.btn{
    width:2.5in;
    height:2in;
    border-color: black;
    border-width: 0.1em;
    border-style: solid;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

button{
    width:1in;
    height:.5in;
    border-color: black;
    border-width: 0.1em;
    border-style: solid;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#timer{
    text-align: right;
}

#stage{
    font-family: Teko;
}

#final{
    font-family: Teko;
    font-weight: 700;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#back{
    display:inline-flex;
}
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  margin-top: 7rem;
  font: 400 16px/1.5;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
